<body>
    <button id="botonvideo" (click)="openDialog()">Lista</button>
    <div id="hola1">

        <video id="reproductor" width="1000px" height="500px" preload="metadata" controls="controls" webkit-playsinline
            playsinline type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'></video>

    </div>


</body>
<footer>
    <div class="caja ">
        <div id="inferior" class="ef animated">
            <img src="assets/b.gif" style="width: 100%;height: 100%;" id="super" />
        </div>
    </div>
    <div class="caja2">
        <div id="inferior2" class="ef2 animated">
            <img src="" id="super2" style="width: 100%;height: 100%;" />
        </div>
    </div>
</footer>