<header>

  <div class="cubo1 cubo ">
    <div class="reloj">
      <span id="horas" class="horas"></span>
      <span>:</span>
      <span id="minutos" class="minutos"></span>
      <span>:</span>
      <div class="caja-segundos">
        <span id="segundos" class="segundos"></span>
        <span id="ampm" class="ampm"></span>

      </div>
    </div>
    <div class="fecha">

      <span id="dia" class="dia"></span>
      <span>/</span>
      <span id="mes" class="mes"></span>
      <span>/</span>
      <span id="year" class="year"></span>
    </div>
  </div>
  
</header>
<app-cuerpo-video></app-cuerpo-video>